<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Hanzi</th>
      <th scope="col">Category</th>
      <th scope="col">English</th>
      <th scope="col">Pinyin</th>
      <th scope="col">Wrong %</th>
      <th scope="col">Wrong answer count</th>
      <th scope="col">Total Answer count</th>
    </tr>
  </thead>
  <tbody>
    <% flashcards.each_with_index do |f, i| %>
      <tr>
        <th scope="row"><%= i+1 %></th>
        <td><%= link_to truncate(f.hanzi, length: 20), flashcard_path(f.id) %></td>
        <td><%= link_to truncate(f.flashcard_category.title, length: 20), flashcard_category_path(f.flashcard_category.id) %></td>
        <td><%= truncate(f.english, length:20) %></td>
        <td><%= truncate(f.pinyin, length: 20) %></td>
        <td>
          <div class="progress">
            <div class="progress-bar bg-danger" 
                 role="progressbar" 
                 style="width: <%= f.wrong_answer_percentage %>%;" 
                 aria-valuenow="<%= f.wrong_answer_percentage %>" 
                 aria-valuemin="0" 
                 aria-valuemax="100"></div>
          </div>
          <small>%<%= f.wrong_answer_percentage %></small>
        </td>
        <td><%= f.wrong_answer_count %></td>
        <td><%= f.answer_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

