<div class="row">
  <div class="col-12 col-lg-4">
    <%= render @flashcard_category %>
    <%= link_to flashcard_category_play_path(@flashcard_category.id), class: "btn btn-success col-12 mb-2 text-white py-3 border-b-4 border-green-700" do %>
      <i class="bi bi-play-fill text-xl"></i> <span class="text-xl font-extrabold">PLAY</span>
    <% end %>
    <%= link_to edit_flashcard_category_path(@flashcard_category.id), class: "btn btn-success col-12 mb-2 text-white" do %>
      <i class="bi bi-pencil-square"></i> <small>Edit Flashcard Category</small>
    <% end %>
    <%= link_to @flashcard_category, method: :delete, class: "btn btn-danger col-12 mb-2 text-white", data: {confirm: "Are you sure?"} do %>
      <i class="bi bi-trash"></i> <small>Delete Flashcard Category</small>
    <% end %>
    <%= link_to new_flashcard_path(flashcard_category_id: @flashcard_category.id), class: "btn btn-warning col-12 text-white mb-3" do %>
      <i class="bi bi-plus"></i> <small>Create Flashcard</small>
    <% end %>
  </div>
  <div class="col-12 col-lg-8">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" 
                id="nav-home-tab" 
                data-bs-toggle="tab" 
                data-bs-target="#flashcards" 
                type="button" role="tab" 
                              aria-controls="flashcards" 
                              aria-selected="true">
          Flashcards
        </button>
        <button class="nav-link" 
                id="flashcard-answers-tab" 
                data-bs-toggle="tab" 
                data-bs-target="#flashcard-answers" 
                type="button" 
                role="tab" 
                aria-controls="flashcard-answers" 
                aria-selected="false">
          Flashcard Answers
        </button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="flashcards" role="tabpanel" aria-labelledby="flashcards">
        <div class="row mt-3">
          <% @flashcards.each do |flashcard| %>
            <div class="col-12 col-lg-3">
              <%= link_to flashcard_path(flashcard.id), class: "text-decoration-none" do %>
                <% render flashcard %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="flashcard-answers" role="tabpanel" aria-labelledby="flashcard-answers-tab">
        <%= render "/flashcard_answers/table", flashcard_answers: @flashcard_answers %>        
      </div>
    </div>
  </div>
</div>
