<!DOCTYPE html>
<html>
  <head>
    <title>Chinese Flashcards</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#209CEE">
    <meta name="theme-color" content="#ffffff">

    <script async defer data-domain="flashcards.crypto-tzar.com" src="https://analytics.crypto-tzar.com/js/plausible.js"></script>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <header class="py-3">
        <ul class="navbar navbar-expand-lg navbar-dark bg-dark">
          <li class="nav-item">
            <%= link_to "CHINESE FLASHCARDS", root_path, class: "nav-link text-white font-bold font-sans" %>
          </li>

          <% if !member_signed_in? %>
            <li class="nav-item">
              <%= link_to "Log in", new_member_session_path, class: "nav-link text-white text-sm" %>
            </li>
          <% end %>

          <% if member_signed_in? %>
            <li class="nav-item">
              <%= link_to "Flashcard Packs", flashcard_categories_path, class: "nav-link text-white text-sm" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_member_session_path, method: :delete, class: "nav-link text-white text-sm" %>
            </li>
          <% end %>

          <% if member_signed_in? %>
            <li class="nav-item ml-auto">
              <form action="<%=flashcard_search_path%>"class="d-flex" method="GET">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
              </form>
            </li>
          <% end %>
        </ul>
      </header>

      <%= render "layouts/breadcrumbs" %>

      <% if notice %>
        <p class="mt-2 alert alert-primary"><%= notice %></p>
      <% end %>

      <% if alert %>
        <p class="mt-2 alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </div>
  </body>
</html>
